<ion-header>
  <ion-toolbar color="dark">
      <ion-button id="back" color="dark" [ngStyle]="{'background-color':btncolor}" float-left (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="font-family:monserrat; font-size:50px; color:white; text-shadow: 1px 1px blue;width:100%;height:95%;background-color:rgba(255,255,255,0.1)">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="border-bottom:1px solid dodgerblue;">Message  λ</label><br>
      &nbsp;&nbsp;<label style="font-size:20px">This application was developed for a school<br> &nbsp;project. It is able to Send and Recieve messages as &nbsp;well as Calculate Simple and Advanced Lambda &nbsp;Expressions.
      This project was created on &nbsp;04/04/2019</label><br>
      
      &nbsp;&nbsp;&nbsp;<label style="font-size:38px;border-bottom:1px solid dodgerblue;" >Group Members</label><br>
      <label style="font-size:15px"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Darryl Brown - 1503803<br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Carlisle Welsh - 1503876&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Sameer Khatri - 1403929</label>
  </div>
  <div
    style="font-family:monserrat;border-top:1px solid dodgerblue;height:5%;width:100%;color:silver;background-color:#1e2023"
    class="footer">
    &copy; 01/04/2019 This application was developed by French.Co
  </div>
</ion-content>
