<ion-header>
  <ion-toolbar color="dark">
    <ion-button id="back" color="dark" [ngStyle]="{'background-color':btncolor}" float-left (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Send</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display:flex;border:1px solid dodgerblue;background-color:rgba(0,0,0,0.3);width:100%;height:50px;color:white;font-family:monserrat;font-size:18px"><ion-input placeholder="Receiver's Contact number" type="text" [(ngModel)]="number"></ion-input><ion-button (click)="call()"><ion-icon name="call"></ion-icon></ion-button></div>
  <div style="height:85.6%" id="messages">
      
      <div style="color:white;font-size:18px;" class="text" >{{message}}</div>
     
  </div>
  <div style="display: flex; height:50px; width:100%;background-color:#1e2023;border-bottom:1px solid dodgerblue; border-top:1px solid dodgerblue">
    <ion-button style="border-radius: 0;height:42px;" id="back" color="dark" [ngStyle]="{'background-color':btncolor}" float-left (click)="send()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-input  [(ngModel)]="text" style="height:49.9px;padding-left:30px;background-color:rgba(0,0,0,0.3);width:50%;color:white;font-family:monserrat"></ion-input>
    
    <ion-button style="border-radius: 0;height:42px;" id="back" color="dark" [ngStyle]="{'background-color':btncolor}" float-right (click)="send()">
        <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
  
</ion-content>

