<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div></div>
  <div
    style="background-color:rgba(0,0,0,0.5);width:100%;height:95%"
    class="Menu"
  >
  <div style="font-family:monserrat; font-size:50px; color:white; text-shadow: 1px 1px blue;">
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Message  λ</label>
  </div>
    <br /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-button
      color="dark"
      (click)="send()"
      ><ion-icon name="chatbubbles"></ion-icon>&nbsp;Messages&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button
    ><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-button
      color="dark"
      (click)="lambda()"
      ><ion-icon name="calculator"></ion-icon>Lambda Calculator</ion-button
    ><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-button
      color="dark"
      (click)="about()"
      ><ion-icon name="information-circle"></ion-icon
      >&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button
    ><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-button
      color="dark"
      (click)="quit()"
      ><ion-icon name="power"></ion-icon>&nbsp;Quit
      Application&nbsp;&nbsp;&nbsp;&nbsp;</ion-button
    >
  </div>
  <div
    style="font-family:monserrat;border-top:1px solid dodgerblue;height:5%;width:100%;color:silver;background-color:#1e2023"
    class="footer"
  >
    &copy; 01/04/2019 This application was developed by French.Co
  </div>
</ion-content>
